$primaryColor: rgba(0, 0, 0, 0.87);
$secondaryColor: rgba(0, 0, 0, 0.6);
$searchBarColor: rgba(0, 0, 0, 0.5);

$descriptionCharacterNameColor: rgb(8, 31, 50);
$descriptionCharacterInfoTextColor: rgb(142, 142, 147);
$descriptionItemTitleColor: rgb(8, 31, 50);
$descriptionItemTextColor: rgb(110, 121, 140);
